/*
// Colorkit v0.1
// by Araz Gholami
*/


//Tone-on-Tone Colors
$primaryc: #d82311;
$lightenc: lighten($primaryc, 10%);
$darkenc: saturate($primaryc, 10%);
$exlightenc: lighten($primaryc, 20%);
$exdarkenc: darken(saturate($primaryc, 20%),10);


$black: #010101;
$white: #fefefe;
$darkwhite: darken($white, 8);

$gray: #ccc;
$darkgray: darken($gray,10);
$lightgray: darken($gray,10);


$borderc: darken($white, 20);