.work{
	.projects{
		padding: 10px 0;
		margin: 0;
		list-style: none;
		li{
			display: inline-block;
			margin: 0 5px 0 0;
			padding: 0 !important;
			a{
				display: block;
				padding: 10px;
				border-radius: 5px;
				&:hover{
					background: $primaryc;
					color: #fff;
					text-decoration: none;
				}
			}
			&:before{
				content: "" !important; 
			}
		}
	}
}
ul{
	p{
		margin: 0;
	}
}