.navbar{
	background: rgba(0,0,0,0.5);
	position: relative;
	border: none;
	margin: -50px 0 0 0;
	.navbar-toggle{ 
	    float: left;
	    margin: 4px 0 4px 5px;
	    border: none;
	    padding: 10px 10px 10px 12px;
	    i{
	    	color: $white;
	    }
	}
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	.navbar-header{
		margin: 0;
	}
	.navbar-collapse{
		@media (max-width: 768px) {
			position: absolute;
			background: rgba(0,0,0,0.9);
			width: 100%;
			padding: 0;
			margin: 0 -10px 0 0;
			z-index: 1000;
			border-radius: 0;
		}
	}
	ul{
		list-style: none;
		padding: 0; margin: 0;
		transition: all 0.2s;
		outline: none;
		.navitem{
			a{
				padding: 10px 10px 0;
				color: $white;
				font-size: 1.414rem;
				&:hover,&:focus,{
				    & *{
				      text-decoration: none;
				    }
				}
			}
			span{
				display: block;
				color: $lightgray;
				font-size: 0.707rem;
				margin-top: -5px;
			}
			&:focus,&:hover,&.active{
				a{
					color: $lightenc !important;
					background: none !important;
				}
			}
		}
		.first{
			a{
                padding-top: 10px;
				i{font-size: 1.9rem;}
			}
			@media (min-width: 768px) {
				a{
					padding-left: 0;
				}
			}
		}
		.bag{
			span{
				text-align: center;
			}
		}
		@media (max-width: 768px) {
			padding: 10px 0 20px;
			text-align: center;
			.first{
		    	a{
		    		padding-left: 0;
		    	}
		    }
		    .bag{
		    	span{
		    		text-align: left;
		    	}
		    }
		}
	}
}