

.right{
    .title{
        text-align: right;
        direction: rtl;
        //Reset
        margin-left: 0 !important;
        padding-left: 0 !important;
        border-left: none !important;
        padding: 0 11px 1rem 0 !important;
        margin-right: -15px;
        border-right: 4px solid $exdarkenc;
    }
    .context{
        direction: rtl;
        p{
          line-height: 1.618;text-align: right;
        }
        blockquote{
          border-right: 5px solid $gray;
        }
        ul{
          list-style: none;
          padding: 0;
          margin: 0;
          margin-bottom: 1em;
          line-height: 1.7;
          li{
            padding-right: 1.214em; 
            &::before {
              content: "-";
              color: $darkgray;
              margin: 0 0 0 10px;
              float: right;
            }
          }
        }
        .firstletter{
          float: right;
          font-size: 1.999rem;
          padding-left: 10px;
          text-shadow: 1px 1px 8px $darkgray;
          font-family: "ArazGholami";
        }
    }
}

